* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1, h2 {
  text-align: center;
}

.bookmark-list-tools {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

ul {
  list-style-type: none;
  padding: 2%;
  max-height: 400px;
  overflow: scroll;
}

/* .bookmark-collapse {
  display: flex;
  justify-content: space-between;
  margin: 10px;
} */

li {
  border: 2px solid black;
  margin: 4px;
  display: flex;
  flex-direction: column;
}

.bookmark-expand, .bookmark-collapse {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
  align-content: center;
}

.bookmark-expand > .desc {
  width: 100%;
}

#display-form, form > button {
  color: white;
  background: rgb(77, 77, 200);
}

.hide-button {
  opacity: 0;
}

#display-form {
  display: block;
  width: 90%;
  height: 50px;
  text-align: center;
  margin: 0 auto;
}

#delete {
  align-self: flex-end;
  color: red;
  padding-top: 2px
}

#bookmark-form {
  border: 2px solid black;
  margin: 12px; 
  padding: 4px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

form > label, input, form > select {
  text-align: center;
  width: 100%;
}

input {
  text-align: center;
  width: 100%;
  border: 2px solid grey;
  padding: 5px;
  margin-bottom: 5px;
}

form > select {
  direction: rtl;
  border: 2px solid grey;
  padding: 5px;
}

form > button {
 width: 40%;
 margin-top: 5px;
 justify-self: space-between;
}